#slide1{
    height: 75vh;
    background-blend-mode: darken;
    margin-bottom: 7vh;
}
#slide2{
    height: 75vh;
    background-blend-mode: darken;
    margin-bottom: 7vh;
}
#slide3{
    height: 75vh;
    background-blend-mode: darken;
    margin-bottom: 7vh;
}
#slide4{
    height: 75vh;
    background-blend-mode: darken;
    margin-bottom: 7vh;
}

.cr{
    height: 30rem;
}